<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.3/angular.min.js" integrity="sha512-KZmyTq3PLx9EZl0RHShHQuXtrvdJ+m35tuOiwlcZfs/rE7NZv29ygNA8SFCkMXTnYZQK2OX0Gm2qKGfvWEtRXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/test.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
     integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
     crossorigin="anonymous">
     <link rel="stylesheet" href="test.css">
    <title>Document</title>
</head>
<body>
    <div ng-app="app" ng-controller="myCtrl">
        <h3>Create user</h3>
        <form class="form" name="userForm" ng-submit="submitForm(userForm.$valid)" novalidate>

            <div class="form-group" ng-class="{ 'has-error' : userForm.name.$invalid && !userForm.name.$pristine }">
                <label >Name</label>
                <input type="text" name="name" class="form-control" ng-model="name" required>
                <p ng-show="userForm.name.$invalid && !userForm.name.$pristine" class="help-block">You name is required.</p>

            </div>


            <div class="form-group" ng-class="{ 'has-error' : userForm.username.$invalid && !userForm.username.$pristine }">
                <label for="" >Username</label>
                <input type="text" name="username" class="form-control" ng-model="username" ng-minlength="3" ng-maxlength="8">
                <p ng-show="userForm.username.$error.min-length" class="help-block">Username is too short.</p>
                <p ng-show="userForm.username.$error.max-length" class="help-block">Username is too long.</p>
            </div>

            <div class="form-group" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">
                <label for="">Password</label>
                <input type="password" name="password" class="form-control" ng-model="password">
                <p ng-show="userForm.password.$invalid && !userForm.password.$pristine" class="help-block">Enter a password.</p>
            </div>

            <div class="form-group" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">
                <label for="">Email</label>
                <input type="email" name="email" class="form-control" ng-model="email">
                <p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">Enter a valid email.</p>
            </div>

            <button type="submit" class="btn btn-primary" ng-click="addUser()" >Submit</button>
        </form>
        <br>

        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="recource in users ">
                    <td>{{ resource.name }}</td>
                    <td>{{ recource.user.email }}</td>
                    <td>{{ recource.user.phone }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>