<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.2/angular.min.js" integrity="sha512-7oYXeK0OxTFxndh0erL8FsjGvrl2VMDor6fVqzlLGfwOQQqTbYsGPv4ZZ15QHfSk80doyaM0ZJdvkyDcVO7KFA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <title>Document</title>
    <link rel="stylesheet" href="ag.css">
</head>
<body>
    <div class="main" ng-app="myList" ng-controller="myListController">
        <h1>Item List</h1>
        <div class="addItem">
            <input ng-model="newItem" placeholder="Add Item" class="addText">
            <button ng-click="pushItem()">Add</button>
        </div>
        <ul>
            <li ng-repeat="i in items">{{ i }} <span ng-click="deleteItem($index)"> x </span></li>
        </ul>
    </div>
</body>
<script src="/ag5.js"></script>
</html>